<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" lang="zh" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>卡口数据处理</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					href="https://github.com/ultraq/thymeleaf-layout-dialect">
					Thymeleaf - Layout </a>
			</div>
		</div>
		<form th:action="@{/ui/calculations}" method="post" role="form">
			<div class="form-group">
				<label for="task">任务 ID: (必填)</label> 
				<input type="text"
					class="form-control" id="task" name="taskId" placeholder="1" />
			</div>
			<div class="form-group">
				<label for="roadSection">路段 ID: (可以不填)</label> 
				<input type="text"
					class="form-control" id="roadSection" name="roadSectionId" placeholder="1" />
			</div>
			<button type="submit" class="btn btn-default">计算</button>
		</form>
	</div>
</body>
</html>
