<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Angular-RequireJS sample app</title>
	<link rel="stylesheet" href="app/bower_components/html5-boilerplate/css/normalize.css"/>
	<link rel="stylesheet" href="app/bower_components/html5-boilerplate/css/main.css" />
	<link rel="stylesheet" href="app/css/app.css" />
	<script src="app/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>



<body>
	<h1>AngularJS + RequireJS</h1>
	<ul class="menu">
        <li><a href="/">view1</a></li>
        <li><a href="/calculations/tasks/1/roads/2">view2</a></li>
    </ul>

	<div ng-controller="MyCtrl2">
		<p>{{ welcomeMessage }}</p>
	</div>

	<!-- scripts shall put at the bottom of body -->
	<script data-main="app/js/main" src="app/bower_components/requirejs/require.js"></script>		
</body>



</html>
