<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="calculator.log" />
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread | %logger.%method\(%file:%line\)] %-5level - %msg%n</pattern>
        </encoder>
    </appender>    

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d [%thread | %logger.%method\(%file:%line\)] %-5level - %msg%n</pattern>
        </encoder>
        <file>log/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <logger name="com.example.trafficcarddataprocess.calculator" level="DEBUG">  
        <appender-ref ref="FILE" />  
    </logger>  

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>
